<ion-content class="contact-content">
  <h2>Entre em Contato</h2>
  <p>Fale com a equipe Tende Tudo, estamos prontos para te atender!</p>

  <ion-card appHighlightCard="#e0f7ff">
    <ion-card-header>
      <ion-card-title>Email</ion-card-title>
    </ion-card-header>
    <ion-card-content>contato@tendetudo.com.br</ion-card-content>
  </ion-card>

  <ion-card appHighlightCard="#e0f7ff">
    <ion-card-header>
      <ion-card-title>Telefone</ion-card-title>
    </ion-card-header>
    <ion-card-content>(11) 4002-8922</ion-card-content>
  </ion-card>

  <ion-card appHighlightCard="#e0f7ff">
    <ion-card-header>
      <ion-card-title>Endereço</ion-card-title>
    </ion-card-header>
    <ion-card-content>Av. das Inovações, 1000 - São Paulo, SP</ion-card-content>
  </ion-card>
</ion-content>
