.products-content {
  padding: 2rem;
  text-align: center;
  color: #1a1a1a;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.5rem;
}

.product-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  padding: 10px;
  background-color: #f9fafc;
}

.product-card ion-card-title {
  color: #1a1a1a !important;
  font-weight: 600;
  font-size: 1rem;
}

.product-card ion-card-content {
  color: #1a1a1a;
}

.price {
  font-weight: bold;
  //color: #0059ff;
}
