<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="site-title"><a routerLink="/home">🛒 Tende Tudo</a></ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/products">Produtos</ion-button>
        <ion-button routerLink="/about">Sobre Nós</ion-button>
        <ion-button routerLink="/contact">Contato</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <router-outlet></router-outlet>
  </ion-content>

  <ion-footer>
    <ion-toolbar class="footer">
      <p>&copy; 2025 Tende Tudo - Todos os direitos reservados.</p>
      <small>Seu marketplace de confiança 💙</small>
    </ion-toolbar>
  </ion-footer>
</ion-app>

