<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalhes do Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    @if (loading) {
    <div class="ion-text-center">
      <ion-spinner></ion-spinner>
      <p>Carregando produto...</p>
    </div>
    } @if (error) {
    <div class="ion-text-center ion-color-danger">
      <p>{{ error }}</p>
    </div>
    } @if (product) {
    <ion-card>
      <ion-img [src]="product.image" alt="{{ product.title }}"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ product.title }}</ion-card-title>
        <ion-card-subtitle>{{ product.category }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ product.description }}</p>
        <ion-text color="primary">
          <h2>
            Preço:
            <span [appPriceColor]="product.price" color="primary"
              >R$ {{ product.price }}</span
            >
          </h2>
        </ion-text>
      </ion-card-content>
    </ion-card>
    }
  </div>
</ion-content>
