<ion-content class="home-content">
  <section class="hero">
    <h1>Bem-vindo à <span>Tende Tudo</span></h1>
    <p>
      Na Tende Tudo, você encontra tudo o que precisa em um só lugar —
      tecnologia, moda, decoração e muito mais, com entrega rápida e preço
      justo.
    </p>
    <ion-button color="primary" routerLink="/products"
      >Explorar Produtos</ion-button
    >
  </section>

  <section class="features">
    <ion-card appHighlightCard="#e0f7ff">
      <ion-card-header>
        <ion-card-title>🚚 Entrega Rápida</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Receba seus produtos com segurança e agilidade em qualquer lugar do
        Brasil.</ion-card-content
      >
    </ion-card>

    <ion-card appHighlightCard="#e0f7ff">
      <ion-card-header>
        <ion-card-title>💳 Pagamento Seguro</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Trabalhamos com os melhores sistemas de pagamento, garantindo segurança
        total nas suas compras.</ion-card-content
      >
    </ion-card>

    <ion-card appHighlightCard="#e0f7ff">
      <ion-card-header>
        <ion-card-title>⭐ Qualidade Garantida</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Selecionamos os melhores fornecedores para oferecer produtos com alto
        padrão de qualidade.</ion-card-content
      >
    </ion-card>
  </section>
</ion-content>
